<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script type="application/javascript" src="../js/vue.js"></script>
</head>
<body>
<!--
template:不会影响 原来结构；相对于v-show 其只能配合v-if一起使用
-->
<!--
				条件渲染：
							1.v-if
										写法：
												(1).v-if="表达式"
												(2).v-else-if="表达式"
												(3).v-else="表达式"
										适用于：切换频率较低的场景。
										特点：不展示的DOM元素直接被移除。
										注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

							2.v-show
										写法：v-show="表达式"
										适用于：切换频率较高的场景。
										特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

							3.备注：使用v-if的时，元素可能无法获取到(指页面检查元素时，该节点元素是被删除的)，而使用v-show一定可以获取到。
		 -->
<div id="root" >
<h2 v-if="a===1"> Angular</h2>
<h2 v-if="a ===2">React</h2>
<h2 v-if="a === 3">Vue</h2>
    <button type="button" @click="changeNumber">点击我展示技术栈</button>
</div>

</body>

<script type="application/javascript">
    Vue.config.productionTip=false
    new Vue({
        el: '#root',
        data:{
            a:0
        },
        methods:{
            changeNumber(){
                this.a++;
            }
        }
    })

</script>
</html>